<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>141970371154-a8tqvqsinha8v221sodc4m696ikcb0pl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.141970371154-a8tqvqsinha8v221sodc4m696ikcb0pl</string>
	<key>API_KEY</key>
	<string>AIzaSyAe_yUmCJtUUidyWGR3fVfipQweOBg3Y4E</string>
	<key>GCM_SENDER_ID</key>
	<string>141970371154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.crowdbotics.yapstar</string>
	<key>PROJECT_ID</key>
	<string>yapstar-fab38</string>
	<key>STORAGE_BUCKET</key>
	<string>yapstar-fab38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:141970371154:ios:32b00c1b6e244994</string>
	<key>DATABASE_URL</key>
	<string>https://yapstar-fab38.firebaseio.com</string>
</dict>
</plist>