<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>509625931637-ubkfca4o7irg1ucv9e5r7dprj6uhf673.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.509625931637-ubkfca4o7irg1ucv9e5r7dprj6uhf673</string>
	<key>API_KEY</key>
	<string>AIzaSyAr90beOkNbUnInHrwOEc0Ih4bZvWWcdGw</string>
	<key>GCM_SENDER_ID</key>
	<string>509625931637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.crowdbotics.yapstars</string>
	<key>PROJECT_ID</key>
	<string>yapstars-c16ff</string>
	<key>STORAGE_BUCKET</key>
	<string>yapstars-c16ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:509625931637:ios:4023898d7a612c34</string>
	<key>DATABASE_URL</key>
	<string>https://yapstars-c16ff.firebaseio.com</string>
</dict>
</plist>